body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-container {
  float: right;
}

input[type=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type=search], .search-container button {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=search] {
    border: 1px solid #ccc;  
  }
}


/* styles.css:body {
  background-color: #FFFFFF;
} */

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 25px;
}

.card-x {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* background: #881426; */
  color: black;
  padding: 2em;
  transition: transform 0.3s ease-in-out; 
  cursor: pointer;

}

.card-x:hover {
  transform: scale(1.05);
}


.heading-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: 50px;
}

.clubs-heading::after, .domains-heading::after {
  content: " →";
  margin-left: 8px;
}

h1, h2 {
  color: #FFFFFF;
}


.heading-domains {
  font-size: 34px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0;
  /* margin-left: 0; */
  color: #273238;
  padding: 25px;
}

.card-name{
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 1px;
}

.card-name::after{
  content: '';
  display: block;
  height: 1px;
  width: 2em;
  background: #5bcbf0;
  margin: 0.7em auto 0.5em;
  opacity: 0.35;
}

.card-body{
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
}

.card-image{
  height: 50px;
  width: 50px;
  margin-left: 0;
}
.Addclub{
  float: right;
  padding: 7px;
}

.Addclub button{
  padding: 7px 40px;
}


@media screen and (min-width: 600px) {
  .card-x{
    flex-direction: row;
  } 

  .card-main{
    text-align: left;
    margin-left: 2em;
  } 

  .card-name::after{
    margin-left: 0;
  }
}

.nodata{
  justify-content: center;
  text-align: center;
}